@import "main-container";
@import "vaiables";

.designedSection {
    grid-area: designedSection;
    padding: 0 0 60px 0;
    position: relative;
    overflow: hidden;
    width: 100%;
   
    .designedTitle {
        color: #1b3953;
        font-size: 2.3rem;
        margin-bottom: 40px;
        width: 100%;
        position: relative;
        text-align: right;
        top: 15%;
        right: 40%;
    }

    .designedContent {

        display: flex;
        align-items: center;
        width: 100%;
   ;
        .container {
            
            display: flex;
            flex-direction: column;
            margin-left: 6%;

            .designedDesc {

                margin: 30px 0 30px auto;
                width: 40vw;
               
                h2 {
                    color: $text-titles;
                    margin-bottom: 30px;
                    font-size: 1.6rem;
                }

                p {
                    color: $text-body;
                    line-height: 1.7;
                    font-size: 16px;
                }

                .introducing {
                    width: 512px;
                }

                .robust {
                    width: 490px;
                }

            }

         
        }

        .imgMobile {
            display: none;
        }
    }
  
}

@media screen and (max-width: 767px) {
    
    .designedSection {

        .designedTitle {
            width: 100%;
            font-size: 1.7rem;
        }
        .designedContent {

            .container {    
               
                .designedDesc {
                   
                    margin: 30px auto;
                    width: 90%;
                    text-align: center;

                    h2 {
                        width: 80%;
                        margin: 0 auto 30px auto;
                        font-size: 2rem;
                    }

                    .introducing {
                        width: 80%;
                        margin: 0 auto;
                    }
    
                    .robust {
                        width: 82%;
                    }
    
                }
            }

            .imgMobile {
                display: block;
                width: 85%;
                margin: 0 auto;

                img {
                    width: 100%;
                    display: block;
                }
            }
        }
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .designedSection {

        .designedContent {

            .container {    
               
                .designedDesc {
                   
                    margin: 30px auto;
                    width: 87%;
                    text-align: center;

                    h1 {
                        width: 100%;
                    }

                    .introducing {
                        width: 85%;
                    }
    
                    .robust {
                        width: 85%;
                    }
    
                }
            }

    

            .imgMobile {
                display: block;
                width: 100%;
             
                img {
                    width: 70%;
                    display: block;
                    margin: 5% auto 0 auto;
                }
            }
        }
    }
}

@media screen and (max-width: 1023px) {
    
    .designedSection {

        position: relative;
        padding: 40px 0;
    
        .designedTitle { 
            order: 1;
            position: static;
            text-align: center;
            margin-top: 10%;
            padding: 0 20px;
            
        }
 
        .designedContent {

           flex-wrap: wrap;
           
            .container {    
                order: 3;
                width: 100%;
                margin-left: 0;
              
            
                .designedDesc {
                   
                    margin: 30px auto;
                  
                    h1 {
                        width: 100%;
                      
                    }

                    p {
                        font-size: 17px;
                        margin: 0 auto;
                    }
                }
            }

            .imgDesktop {
                display: none;
            }

            .imgMobile {
                order: 2;
            }
        }
    }
}

@media screen and (min-width: 1024px) and (max-width: 1240px) {
    .designedSection {

        .designedContent {

            .container {
                margin-left: 5%;

                .designedDesc {
                    .introducing {
                        width: 100%;
                    }
    
                    .robust {
                        width: 100%;
                    }
    
                }
            }
        }
    }
}


