@import "vaiables";

%btnHeader {
    background-color: #fff;
    padding: 15px;
    color: #ff525d;
    font-weight: 600;
    border-radius: 40px;
    border: none;
    width: 140px;
    text-align: center;
    cursor: pointer;

    &:hover {
        background-color: #ff7b86;
        color: #fff;
        transition: 0.5s ease;
    }
}

.header {
    background: $gradient-primary;
    width: 100%;
    border-radius: 0 0 0 120px;
    position: relative;
    z-index: 1;
    padding-bottom: 100px;
   
    .bgHeader {
        background-size: auto 220vmax;
        background-position: 24%;
        width: 100%; 
        border-radius: 0 0 0 120px;
        position: absolute;
        height: 100%;
        z-index: -1;
    }

    .logo {
        margin-left: 40px;
    }

    .navbarContainer {

        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 90%;
        margin: 0 auto;
        padding: 50px 0 70px 0px;
   
        .navbarContent {
            display: flex;
            justify-content: space-between;
            min-width: 80%;
           
            .dropdownContainer {

                display:  flex;
                align-items: center;
                z-index: 3;
              
                .dropdownItem {

                    position: relative;
                    margin-right: 30px;
    
                    .dropdownTitle {
                        font-size: 1.2rem;
                        font-weight: 300;
                        color: #ffdcca;
                        display: flex;
                        align-items: center;
                        text-align: center;
                        cursor: pointer;
                        border: 2px solid transparent;

                        span {
                            margin-right: 10px;
                        }

                        .titleItem {

                            border-bottom: 2px solid transparent;
                            

                            &:hover {
                                border-bottom: 2px solid #fff;
                                color: #fff;
                            }
                        }

                        .caretRed {
                            display: none;
                        }

                    }
                    
                    .dropdownContent {
    
                        padding: 30px 30px 30px 20px;
                        background-color: #fff;
                        border-radius: 7px;
                        box-shadow: 0px 12px 5px 1px rgba(0,0,0,0.17);
                        display: none;
                        

                        li {
    
                            margin-bottom: 10px;
                            width: 100px;

                            a { 
                                color: #35343c;
                                font-size: 1rem;
                                font-weight: 400;
                               
                                &:hover {
                                    color: #2f2f3b;
                                    font-weight: bold;
                                }
                               
                            }   
                        }
                    }
    
                    //product area
                    .product {
                        position: absolute;
                        left: -30px;
                        top: 50px;
                    }
    
                    //company area
                    .company {
                        position: absolute;
                        top: 50px;
                    }
    
                    //connect area 
                    .connect {
                        position: absolute;
                        left: -10px;
                        top: 50px;
                    }
                }
    
            }
        
            .signUpContainer {

                width: 250px;
    
                text-align: end;
                
                .login {
                    background-color: transparent;
                    border: none;
                    color: #fff;
                    margin-right: 30px;
                    font-weight: 600;
                    cursor: pointer;
        
                    &:hover {
                        color: #ffdcca;
                        transition: 0.5s ease;
                    }
                }
        
                .signup {
                   @extend %btnHeader;
                }
            }
        }

     
    }

    .btnControlMenu {
        background-color: transparent;
        border: none;
        display: none;
        cursor: pointer;
    }

    .titlePublicity {
        display: flex;
        align-items: center;
        flex-direction: column;
        width: 100%;
        text-align: center;
        padding-left: 70px;

        .title {

            color: #fff;

            h1 {
                font-size: 3.2rem;
                font-weight: 300;
                margin-bottom: 20px;
            }

            p {
                font-weight: 100;
                margin-bottom: 40px;
                font-size: 1.2rem;
                color: #ffe1d8;
            }
        }

        .startFree {

            width: 100%;
           
            .btnStartFree {
                @extend %btnHeader;
            }

            .btnLearnMore {
                background-color: transparent;
                padding: 15px;
                color: #fff;
                font-weight: 600;
                border-radius: 40px;
                border: 1px solid #fff;
                width: 140px;
                text-align: center;
                cursor: pointer;

                &:hover {
                    background-color: #fff;
                    color: #ff7b86;
                    transition: 0.5s ease;
                }
            }
        }
    }
}

// =========== media queries ===========

@media screen and (min-width: 0) and (max-width: 320px) {
    .header {
     
        .bgHeader {
            height: 100%;
            background-size: 200vmax 200vmax !important;
            background-position: 30% 42% !important;
        }
    }
}

@media screen and (min-width: 321px) and (max-width: 480px) {
    .header {
     
        .bgHeader {
            height: 100%;
            background-size: 340vw 200vh !important;
            background-position: 35% 33% !important;
        }
    }
}

@media screen and (min-width: 481px) and (max-width: 766px) {
    .header {
     
        .bgHeader {
            height: 100%;
            background-size: 210vmax 200vmax !important;
            background-position: 23% 31% !important;
        }
    }
}

@media screen and (max-width: 767px) {

    .header {

        .titlePublicity {
            padding-left: 0 !important;
            width: 80%;
            margin: 0 auto;
       
            .title {

                h1 {
                    font-size: 2.3rem;
                    margin: 0 auto;
                    width: 70vw;
                }

                p {
                    margin: 20px auto 50px auto;
                    width: 90%;
                }

            }
        }
        
    }
    
}
@media screen and (max-width: 992px) {
    
    .header {
        
        height: auto;

        .bgHeader {
            height: 100%;
            background-size: 170vw 140vmax;
            background-position: center -55vh;
        }


        .navbarContainer {
            
            .logo {
                position: absolute;
                left: -10px;
                top: 40px;
            }

            .navbarContent {
                position: absolute;
                top: 120px;
                left: 11%;
                width: 80%;
                background-color: #fff;
                padding: 40px 0;
                border-radius: 7px;
                flex-direction: column;
                display: none;
                z-index: 3;
                height: auto;
                
                .dropdownContainer {

                    flex-direction: column;
                    width: 80%;
                    margin: 0 auto;
                   

                    .dropdownItem {

                        width: 100%;
                        margin: 0 auto;

                        .dropdownTitle {
                            margin: 0 auto 40px auto;
                            color: #1c3f5d;
                            font-weight: 600;
                            font-size: 1.3rem;
                            justify-content: center;
                            
                            .titleItem {
                                &:hover {
                                    color: #5e6f81 !important;
                                }
                            }
                          

                            .caretWhite {
                                display: none;
                            }

                            .caretRed {
                                display: block;
                            }
                            
                        }

                        .dropdownContent {
                            
                            background-color: #efeff1; 
                         
                            li {
                                
                                margin: 0 auto;
                                text-align: center;

                                +li {
                                    margin-top: 20px;
                                }

                                a {
                                    color: #596978;
                                }
                            }
                        }
                     
                    }
                    
                    //product area
                    .product {
                        position: relative !important;
                        top: -20px !important;
                        left: 0  !important;
                    }
    
                    //company area
                    .company {
                        position: relative !important;
                        top: -20px !important;
                    }
                    //connect area 
                    .connect {
                        position: relative !important;
                        top: -20px !important;
                        left: 0  !important;
                    }
                }
            
                .signUpContainer {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    margin: 0 auto;
                    width: 80%;
                    border-top: 2px solid #e7e7e7;
                    padding: 40px 0;
                   
                   .login {
                        color: #1c3f5d;
                        margin: 0 0 30px -20px;
                        &:hover {
                            color: #596978 !important; 
                        }
                   }

                   .signup {
                        background: $gradient-primary;
                        color: #fff;
                        margin: 0 auto;
                        &:hover {
                            color: #596978 !important; 
                        }
                   }
                }
            }
        }

        .btnControlMenu {
            display: block;
            position: absolute;
            top: 50px;
            right: 30px;
        }

        .titlePublicity {
            padding: 30px 0 0 0;
        }
        
    }
}

@media screen and (min-width: 993px) and (max-width: 1240px){
    
    .header {
        
        padding-bottom: 70px;

        .bgHeader {
            background-size: auto 220vmax;
            background-position: 33%;
        }
    }
}

// =========== dropdown classes ===========

@keyframes dropdownAnimation {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.dropdownAnimation {
    animation: 0.8s ease-in dropdownAnimation;
}

.showDropdown {
    display: block;
}

// =========== btn control menu class ===========

@keyframes btnControlMenu {
    0% {
        transform: scale(0)
   }

   100% {
        transform: scale(1)
   }
}

.controlMenu {
    animation: 0.4s ease-in btnControlMenu;
}
