@import "vaiables";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: 0;
    font-size: 100%;
}

ul {
    list-style: none;
}

li {
    font-family: 'Ubuntu', sans-serif;

    a {
        text-decoration: none;
    }
    
}

h1,h2 {
    font-family: 'Overpass', sans-serif;
}

p {
    font-family: 'Overpass', sans-serif;
}

body {
    background-color: #fafafa;
    overflow-x: hidden;
}

body, html {
    height: 100%;
    width: 100%;
}