@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@300;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@300;600&family=Ubuntu:wght@400;500;700&display=swap');

$primary: #ff525d;
$primary-hover: #ff7a85;
$footer: #25252d;
$text-titles: #1f3f5b;
$text-body: #4b5862;
$text-footer: #c8c8cb;
$gradient-primary: linear-gradient(to right, #ff8f70, #ff3d54);
$gradient-secondary: linear-gradient(to right, #2c2d3f, #3f4164);

